<!DOCTYPE html>
<html lang="en" ng-app="TaskTracker">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Task Tracker</title>
    
    <!-- JQuery -->
    <link href="assets/libraries/jquery/css/jquery-ui.min.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="assets/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="assets/css/task-tracker.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/libraries/html5shiv/html5shiv.min.js"></script>
      <script src="assets/libraries/respond/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
		<div class="panel panel-default panel-main center-block">
			<div class="panel-heading">
				<h1>Task Tracker<br />
				<small>v2.0</small></h1>
			</div>
			<div class="panel-body" ng-controller="TaskListing as tasksCtrl">
				<div class="row">
					<div class="col-md-6 right-border">
						<div class="task-panel">
							<h2>Create a Task</h2>
							<form name="addTaskForm" ng-controller="NewTask as newTaskCtrl" ng-submit="newTaskCtrl.taskAdd(addTaskForm.$valid, tasksCtrl.tasks)" novalidate>
								<div class="form-group">
								    <label for="name">Task Name</label>
								    <input type="text" class="form-control" id="name" ng-model="newTaskCtrl.task.name" ng-class="(newTaskCtrl.showErrors ? 'errors' :'not-submitted')" required />
								</div>
								
								<div class="form-group">
								    <label for="date">Date</label>
								    <input type="text" class="form-control datepicker" id="date" ng-model="newTaskCtrl.task.date" ng-class="(newTaskCtrl.showErrors ? 'errors' :'not-submitted')" required />
								</div>
								
								<div class="form-group">
								    <label for="assigned">Assigned To</label>
								    <input type="text" class="form-control" id="assigned" ng-model="newTaskCtrl.task.assigned" ng-class="(newTaskCtrl.showErrors ? 'errors' :'not-submitted')" required />
								</div>
								
								<button type="submit" class="btn btn-default">Submit</button>
							</form>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="task-panel">
							<h2>Existing Tasks</h2>
							<div class="panel panel-default center-block">
								<div class="panel-body">
									<div class="row" ng-repeat="task in tasksCtrl.tasks" ng-class-odd="'row-odd'" ng-class-even="'row-even'">
										<div class="col-md-4 task_name">{{task.name}}</div>
										<div class="col-md-4 task_date">{{task.date  | date:'MM/dd/yyyy'}}</div>
										<div class="col-md-4 task_assigned">{{task.assigned}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/libraries/jquery/js/jquery.min.js"></script>
    <script src="assets/libraries/jquery/js/jquery-ui.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/libraries/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Include angular -->
    <script src="assets/libraries/angular/angular.min.js"></script>
    
    <!-- Application -->
    <script src="assets/js/task-tracker.js"></script>
  </body>
</html>